/* tab numbers */
tabs {
  counter-reset: tab-counter;
}

tab:nth-child(1) .tab-content::before,
tab:nth-child(2) .tab-content::before,
tab:nth-child(3) .tab-content::before,
tab:nth-child(4) .tab-content::before,
tab:nth-child(5) .tab-content::before,
tab:nth-child(6) .tab-content::before,
tab:nth-child(7) .tab-content::before,
tab:nth-child(8) .tab-content::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) "";

  position: relative;
  left: -4px;
  top: 0px;
  padding: 0px 4px;
  border-radius: 7px;

  opacity: 1;
  background: #232136;

  font-weight: bold;
  font-size: 80%;
}

/* transparency */
:root {
  --theme: 35, 33, 54 !important;
  --theme-primary: rgba(var(--theme), 0.95) !important;
  --theme-transparent: rgba(var(--theme), 0.75) !important;
  --theme-slight-transparent: rgba(var(--theme), 0.95) !important;
  --theme-opaque: rgba(var(--theme), 1) !important;
  --tf-accent: rgb(234, 154, 151);
  --tf-bg: var(--theme-transparent) !important;
  --tf-border: rgb(68, 65, 90);
  --tf-navbar-margin: 8px 8px 11px;
}

/* main title */
#tabbrowser-tabbox::before {
  margin: -1.35rem 0rem !important;
}

/* vertical tabs title */
box#vertical-tabs::before {
  margin: -1.35rem .4rem !important;
}

/* Make the main window completely transparent */
#main-window, body {
  background-color: transparent !important;
  appearance: win-glass !important;
}

/* Make navbar transparent */
#nav-bar, #TabsToolbar, #PersonalToolbar {
  background-color: transparent !important;
  background-image: none !important;
}

/* Apply theme */
#navigator-toolbox {
  background-color: var(--theme-primary) !important;
  border: none !important;
}

/* Tab radius and background color */
.browserContainer{
  border-radius: 20px !important;
}
#browser{
  max-width: 100% !important;
  background: var(--theme-primary) !important;
}

/* Selected Tab Background Color */
.tab-background[selected] {
  background-color: var(--theme-transparent) !important;
}

/* Rightclick menu themes  */
menupopup::part(content),
panel::part(content),
.popup-internal-box,
.menupopup-arrowscrollbox {
  background-color: var(--theme-slight-transparent)!important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 11px !important;
}

/* urlbar themes */
.urlbar[focused] {
  .urlbar-background {
    background:  var(--theme-slight-transparent) !important;
  }
}

/* Edit Hamburger menu theme*/
#appMenu-popup {
  opacity: 0.95 !important;
  .panel-subview-body {
    background: var(--theme-slight-transparent) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 8px;
  }
}

/* Search Engine Switcher Theme */
.searchmode-switcher-panel {
  opacity: 0.95 !important;
  .searchmode-switcher-panel-list {
    background: var(--theme-primary) !important;
  }
}
