hosts/common/*.yaml diff=sopsdiffer
users/nyaur/programs/graphical/firefox/default.nix filter=git-crypt diff=git-crypt
users/nyaur/programs/graphical/firefox/extensions/.tridactylrc filter=git-crypt diff=git-crypt
