@define-color foreground #e0def4;
@define-color background #232136;
@define-color modules #393552;
@define-color active #ea9a97;

* {
  font-size: 16px;
  font-family: "Aporetic Sans";
  min-width: 8px;
  min-height: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  border: 0px solid @active;
  background: alpha(@background, 1);
  color: @active;
}

menu,
tooltip {
  border-radius: 8px;
  padding: 4px;
  border: 1px solid @active;
  background: alpha(@background, 1);
  color: @active;
}

menu label,
tooltip label {
  font-size: 14px;
  color: @active;
}

#submap,
#tray>.needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-right {
  margin: 0px 6px 6px 6px;
  border-radius: 4px;
  background: alpha(@background, 0.4);
  color: @active;
}

.modules-left {
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 6px 6px 6px 6px;
  border-radius: 4px;
  background: alpha(@background, 0.4);
  color: @active;
}

#bat,
#together,
#tray,
#privacy,
#custom-recorder,
#brightness,
#pulseaudio.mic,
#audio,
#wifi,
#bluetooth,
#custom-notification,
#gcpu {
  border-radius: 4px;
  margin: 2px 2px 4px 2px;
  background: alpha(@modules, 0.3);
}

#bat {
  padding: 10px 0px 0px;
}

#battery {
  font-size: 14px;
  border-radius: 8px;
  padding: 4px 0px;
  margin: -6px 2px 4px 4px;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.capacity,
#battery.charging {
  font-size: 12px;
  font-weight: bold;
  margin: -8px 0px 2px 0px;
}

#battery.capacity {
  margin-bottom: 0px;
}

#battery.charging {
  margin-top: -4px;
}

#clock {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 2px 0px 2px;
}

#idle_inhibitor {
  margin: 0px 4px 0px 0px;
}

#custom-colorpicker {
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid @active;
  padding: 0px 0px 2px 0px;
}

#custom-weather.icon {
  font-size: 16px;
  margin: 0px 0px -4px 0px;
  padding: 0px 6px 0px 0px;
}

#custom-weather {
  font-size: 12px;
  padding: 0px 2px 0px 0px;
}

#gcpu {
  padding: 4px 0px 0px 0px;
}

#cpu.icon {
  font-size: 18px;
  margin: 0px 6px -2px 4px
}

#memory.icon {
  font-size: 12px;
  margin: 2px 6px 0px 2px;
}

#temperature.icon {
  font-size: 14px;
  margin: 0px 0px 0px 2px;
}

#disk.icon {
  font-size: 12px;
  margin: 0px 2px 0px 2px;
}

#cpu,
#memory,
#temperature,
#disk {
  font-size: 12px;
  font-weight: bold;
  margin: 0px 2px 0px 0px;
}

#custom-dmark {
  font-size: 10px;
  color: alpha(@foreground, 0.3);
}

#submap {
  min-width: 0px;
  margin: 4px 6px 4px 6px;
}

#workspaces {
  margin: 0px 2px;
  padding: 4px 0px 4px 0px;
  border-radius: 8px;
}

#workspaces button {
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @foreground;
  background: transparent;
  border-radius: 4px;
  color: alpha(@foreground, 0.3);
}

#workspaces button.urgent {
  font-weight: bold;
  color: @foreground;
}

#workspaces button.active {
  padding: 4px 2px;
  background: alpha(@active, 0.4);
  color: @active;
  border-radius: 4px;
}

#tray {
  padding: 4px 0px 4px 0px;
}

#privacy-item {
  padding: 6px 4px 6px 6px;
}

#custom-recorder {
  font-size: 15px;
  padding: 1px 0px 1px 2px;
}

#pulseaudio.mic {
  padding: 0px 2px 0px 2px;
}

#backlight,
#pulseaudio {
  padding: 0px 4px 0px 0px;
}

#backlight-slider,
#pulseaudio-slider {
  margin: 0px 0px 0px 2px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: 4px;
  margin-right: 2px;
  min-width: 6px;
  min-height: 60px;
  border-radius: 8px;
  background-color: alpha(@background, 0.6);
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: lighter(@active);
}

#network {
  font-size: 12px;
  margin: 2px 0px 2px -8px;
  padding: 0px 2px 0px 4px;
}

#network.speed {
  font-size: 14px;
  margin-left: 0px;
}

#bluetooth {
  margin-bottom: 2px;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  border-radius: 8px;
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-notification {
  padding-right: 4px;
}

@keyframes blink-active {
  to {
    background-color: @active;
    color: @foreground;
  }
}

@keyframes blink-red {
  to {
    background-color: #c64d4f;
    color: @foreground;
  }
}

@keyframes blink-yellow {
  to {
    background-color: #cf9022;
    color: @foreground;
  }
}
